body {
    margin: 0;
    padding: 0; 
}
footer{
    display: flex;
    background-color: white;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
}
/*allign footer text to center*/
footer p{
    text-align: center;
    flex: 1;
    font-family: 'Old Standard TT', serif;
    font-size: 12px;
}
