/*header background color*/
body {
    margin: 0;
    padding: 0;
}
/*----------------Tabs----------------*/
.tabs{
    display: flex;
    background-color: white;
}
.tab{
    flex: 1;
    padding: 14px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
    font-size: 18px;
    text-decoration: none;
}
.tab:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}