/*header background color*/
body {
    margin: 0;
    padding: 0; 
}
/*----------------Tabs----------------*/
.tabs{
    height: clamp(8vh, 10vh, 80px);
    width: 100%;
    display: flex;
    background-color: white;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
.tab{
    width: 16.66%;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Old Standard TT', serif;
    text-decoration: none;
    font-size: clamp(1vw, 2vw, 18px);
    padding: 5px;
    padding-top: 15px;
}
.tab:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}
.icon{
    height: 10px;
}
/*Icon settings*/
.icon:hover {
    transform: scale(1.1);
}
/*add padding above the tab text so it is centered*/
.tab-content {
    text-wrap-mode: auto;
    display: none;
    padding: 20px;
    border-top: 1px solid #0f5952;
}
/*---------------Background---------------*/
body { 
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover ;
    background-position: center;
}
#filter {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: background-color 1s ease;
    background-color: rgba(0, 0, 0, 0); /* Default no tint */
  }