/*Background color*/
body {
    background-color: #a6e3f7;
}
/*H1 settings*/
h1 {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 4vw;
    text-emphasis: bold;
}
h2
{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 3vw;
    text-emphasis: bold;

}
p{
    text-align: center;
    font-size: 1.5vw;
    margin-left: 50px;
    margin-right: 50px;

}
/*add bottom space to push footer down*/
bottom-space {
    margin-bottom: 60px;    
    
}
/*PUSH FOOTER TO BOTTOM*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content
}