/*Background color*/
body {
    background-color: #a6e3f7;
}
/*H1 settings*/
h1 {
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 4vw;
    text-emphasis: bold;
}
h2
{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    font-size: 3vw;
    text-emphasis: bold;

}
p{
    text-align: left;
    font-size: 1.5vw;
    margin-left: 50px;
    margin-right: 50px;

}
/*add bottom space to push footer down*/
bottom-space {
    margin-bottom: 60px;    
    
}
/*PUSH FOOTER TO BOTTOM*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: fit-content
}
/*Image section, center images*/
#imageSection {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: start;
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
}

.imageTab {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: fit-content;
    background-color: white;
    border: grey 1px solid;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.imageTab img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.imageTab p {
    margin: 0;
    font-size: 1.1rem;
}